<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HTML5 Form</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="employee-form">    

<form id="employee" method="post" action="/employee">
<fieldset>    

<label for="firstName">First Name</label>
<input type="text" name="firstName">
<br>
<label for="lastName">First Name</label>
<input type="text" name="lastName">
<br>
<label for="birthDate">Birth Date</label>
<input type="text" name="birthDate">
<br>
<label> Address 1</label>
<br>
<label for="streetName">Street</label>
<input type="text" name="streetName">
<br>
<label for="houseNumber">House Number</label>
<input type="text" name="houseNumber">
<br>
<label for="homeNumber">Home Number</label>
<input type="text" name="homeNumber">
<br>
<label for="postalCode">Postal code</label>
<input type="text" name="postalCode">
<br>
<label for="city">City</label>
<input type="text" name="city">
<br>
<label for="phone">Phone</label>
<input type="text" name="phone">
<br>
<label for="email">E-mail</label>
<input type="email" name="email">
<br>
<label for="position">Position</label>
<input type="text" name="position">
<br>
<label for="salary">Salary</label>
<input type="number" name="salary">
<br>
<input type="submit" name="submit" id="submit" value="Save" />

</fieldset>
</form>

</div><!-- /end #contact-form -->

</body>
</html>